*{
    margin: 0px;
    padding: 0px;
}

button {
    margin-left: 1350px;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-family: system-ui;
    border-style: none;
}
button:hover{
    background-color: black;
    color: white;
}